@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

$accent: #2864e6;
$grey: #f7f8f8;
$darkgrey: #333;

@import 'markup';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $grey;
  font-family: 'Poppins', sans-serif;
  perspective: 70em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  width: 12.5em;
  &.animated {
    animation: logo-anim 500ms ease-in-out infinite;
  }
}

@keyframes logo-anim {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.2%);
  }
}
